@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0f19;
  --foreground: #e5e7eb;
}

html,
body {
  max-width: 100vw;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}
